@theme {
  --color-background: hsl(34 70% 96%);
  --color-foreground: hsl(0 100% 0%);

  --color-primary: hsl(359 70% 23%);
  --color-primary-foreground: hsl(34 70% 96%);

  --color-secondary: hsl(45 57% 86%);
  --color-secondary-foreground: hsl(359 70% 23%);

  --color-accent: hsl(0 100% 0%);
  --color-accent-foreground: hsl(34 70% 96%);
}
